bin/
obj/
node_modules/
out/
packages/
build/
release/src/layouts/
root/src/layouts/
v3manual/src/layouts/

.docpad.db
site.lastrun
*.suo
*.user
*.browse.VC.db

# Issues bring their binaries with them but not the App_Data
issues/App_Data/
!issues/bin/
