---
layout: herosmall
title: Downloads
image: /content/red_smoke_2.jpg
---

<div class="row fh5co-feature-1">
    <div class="col-md-6">
        <div>
            <h3><a href="/downloads/published"/>Published Builds</a></h3>
            <p>
                For the latest <strong>stable</strong> builds, continue <a href="/downloads/published">here</a>.
                These are production-ready, and prepared to meet your organization's needs.
            </p>
        </div>
    </div>
    <div class="col-md-5">
        <div>
            <h3><a href="/downloads/weekly"/>Weekly Builds</a></h3>
            <p>
                These have the latest bug-fixes, but may introduce new bugs that you didn't expect. In general, these 
                are not considered to be production-ready. If you are still interested, you can find them <a href="/downloads/weekly">here</a>. 
            </p>
        </div>
    </div>
</div>