---
layout: herosmall
title: Downloads
image: /content/red_smoke_2.jpg
bodyTitle:
bodyHeading:
Items: [
  { uri: "/releases/v3.11/rc",
    text: "WiX v3.11 (RC)" },
  { uri: "/releases/v3.10/stable",
    text: "WiX v3.10.3 (Stable)" },
  { uri: "/releases/v3.9/stable",
    text: "WiX v3.9 R2 (Stable)" },
  { uri: "/releases/v3.8/stable",
    text: "WiX v3.8 (Stable)" },
  { uri: "/releases/v3.7/stable",
    text: "WiX v3.7 (Stable)" },
  { uri: "/releases/v3.6/stable",
    text: "WiX v3.6 (Stable)" },
  { uri: "/releases/v3.5/stable",
    text: "WiX v3.5 (Stable)" },
  { uri: "/releases/v3.0/stable",
    text: "WiX v3.0 (Stable)" },
  { uri: "/releases/v2.0/stable",
    text: "WiX v2.0 (Stable)" }
  ]
---

<div class="row fh5co-feature-1">
  <div class="col-md-5">
    <div>
      <h2>Recommended Build</h2>
      <p>
        <strong>WiX Toolset build tools</strong> includes everything you need to create installations on your development and build machines.
      </p>
      <p><a class="btn btn-primary" href="/releases/v3.11/rc">Download WiX v3.11 RC</a></p>
      <p>
        <sup><i class="ti-announcement"></i> <strong>New!</strong></sup> <strong>WiX Toolset Visual Studio Extension</strong> this extension provides integration for the WiX Toolset into Visual Studio. You will still need to install the WiX Toolset build tools.
      </p>
      <p>Download the appropriate versions from the Visual Studio Marketplace:
        <ul>
          <li><a href="https://marketplace.visualstudio.com/vsgallery/2eb3402e-ea6d-4dcd-8340-c88435e54ea9">WiX Toolset Visual Studio 2017 Extension</a></li>
          <li><a href="https://marketplace.visualstudio.com/vsgallery/d4dbda5a-8bce-4a09-8a06-afd1afd006e0">WiX Toolset Visual Studio 2015 Extension</a></li>
          <li><a href="https://marketplace.visualstudio.com/vsgallery/2772229d-6115-4d34-8f53-a32e3c1291b9">WiX Toolset Visual Studio 2013 Extension</a></li>
          <li><a href="https://marketplace.visualstudio.com/vsgallery/e5fedaa3-e0b8-4a45-b524-51d6d256dc79">WiX Toolset Visual Studio 2012 Extension</a></li>
          <li><a href="https://marketplace.visualstudio.com/vsgallery/98de5d8f-bb61-4240-96bc-b445af77e0ab">WiX Toolset Visual Studio 2010 Extension</a></li>
        </ul>
      </p>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <h2>Weekly Builds</h2>
      <p>
        These have the latest bug-fixes, but may introduce new bugs that you didn't expect. In general, these are <strong>not</strong> considered to be production-ready.
      </p>
      <p>
        If you are still interested, you can find them <a href="/releases/weekly">here</a>.
      </p>
    </div>
  </div>

  <div class="col-md-3">
    <div>
    <h2>Archived Builds</h2>
      <p>These are the archived stable versions of the WiX Toolset.</p>
      <ul>
      @foreach (var item in @Model.Document.Items)
      {
        <li><a href="@item.Uri">@item.Text</a></li>
      }
      </ul>
    </div>
  </div>
</div>