---
title: WiX Toolset
keywords: wix toolset,wix
layout: master
---

.hero-unit
  .hero-unit-logo
    img(alt="logo",src="/content/logo_framed.png")
  div
    h1 WiX Toolset
    p The most powerful set of tools available to create your Windows installation experience. Free and Open Source since 2004!
    p: a.btn.primary.large(href="/releases/v3.8/stable") WiX v3.8 released! Download &raquo;

.row
  .span4
    h2 About
    p The WiX toolset builds Windows installation packages from XML source code. The toolset integrates seamlessly into build processes.
    p: a.btn(href="/about") Learn more

  .span4
    h2 Bugs
    p If you find a bug, let us know so we can fix it.
    p: a.btn.error(href="/bugs") File a bug &rarr;

  .span4
    h2 Documentation
    p There are lots of ways to learn about the WiX toolset. You can:
    ul
      li: a(href="/documentation/mailinglist") Ask a question &rarr;
      li: a(href="/documentation/manual") Read the manual &rarr;
      li: a(href="/documentation/tutorial") Browse the tutorial &rarr;
      li: a(href="/documentation/book") Buy the book &rarr;
  .span4
    h2 Download
    p You can download the WiX toolset for free.
    p: a.btn.primary(href="/releases") See the latest releases

.row.second
    .span12
      h2 Recent news
      each item in getCollection('news').toJSON().slice(0,3)
        .news-item
          h3= item.title
          p= prettyFormatDate(item.date)
          p!= item.content
      p: a.btn(href="/news") All news &raquo;

    .span4
        h3 Other sources of news
        p The following blogs may have additional news about the progress of the WiX toolset:
        ul
          li: a(href='http://robmensching.com/blog/') Rob Mensching
          li: a(href='http://www.joyofsetup.com/') Bob Arnson
          li: a(href='http://blogs.msdn.com/heaths/') Heath Stewart
          li: a(href='http://blogs.msdn.com/pmarcu/') Peter Marcu
