---
title: Releases
subtitle: weekly
keywords: wix toolset,wix,release
layout: secondary
sidebarTitle: Published releases
sidebarItems:
  - uri: /releases/v3.9/stable
    text: WiX v3.9 (Stable)
  - uri: /releases/v3.8/stable
    text: WiX v3.8 (Stable)
  - uri: /releases/v3.7/stable
    text: WiX v3.7 (Stable)
  - uri: /releases/v3.6/stable
    text: WiX v3.6 (Stable)
  - uri: /releases/v3.5/stable
    text: WiX v3.5 (Stable)
  - uri: /releases/v3.0/stable
    text: WiX v3.0 (Stable)
  - uri: /releases/v2.0/stable
    text: WiX v2.0 (Stable)
---

h2 Weekly Releases
p The following weekly releases are available. These development releases may be unstable and are therefore not recommended for production use. They are purged irregularly. Please upgrade often (we recommend at least monthly).
ul
  each release in getCollection('releases').toJSON().slice(0,5)
    li
      a(href='/releases/#{release.basename}')= release.title
      |  on #{prettyFormatDate(release.date)}
