<footer id="fh5co-footer">
<div class="container">
<div class="row">
  <div class="col-sm-4 text-center">
    <p>Hosting sponsored by <a href='http://www.firegiant.com/'>FireGiant</a>.</p>
    <a href='https://www.firegiant.com/'><img src='//static.wixtoolset.org/assets/img/firegiant.png' alt='FireGiant'></a>
  </div>
  <div class="col-sm-4">
    <ul class="fh5co-social-icons">
      <li><a href="https://twitter.com/wixtoolset/"><i class="ti-twitter-alt"></i></a></li>
      <li><a href="https://www.facebook.com/wixtoolset/"><i class="ti-facebook"></i></a></li>
      <li><a href="https://github.com/wixtoolset/"><i class="ti-github"></i></a></li>
    </ul>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-4 text-center">
    <p>Member of the <a href='http://www.outercurve.org/'>Outercurve Foundation</a>.</p>
    <a href='http://www.outercurve.org/'><img src='//static.wixtoolset.org/assets/img/outercurve.png' alt='Outercurve Foundation'></a>
  </div>
</div>
</div>
</footer>

<!-- jQuery -->
<script src="/display/js/jquery-1.10.2.min.js"></script>
<!-- jQuery Easing -->
<script src="/display/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/display/js/bootstrap.js"></script>
<!-- Owl carousel -->
<script src="/display/js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="/display/js/jquery.magnific-popup.min.js"></script>
<!-- Superfish -->
<script src="/display/js/hoverIntent.js"></script>
<script src="/display/js/superfish.js"></script>
<!-- Easy Responsive Tabs -->
<script src="/display/js/easyResponsiveTabs.js"></script>
<!-- FastClick for Mobile/Tablets -->
<script src="/display/js/fastclick.js"></script>
<!-- Main JS -->
<script src="/display/js/main.js"></script>
@*
<script type='text/javascript', src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
*@
<div id='fb-root'></div>
<script type='text/javascript'>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));</script>
<script type='text/javascript'>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
