<footer>
  <div style='float:right'>
    <p>Member of the <a href='http://www.outercurve.org/'>Outercurve Foundation</a>.</p>
    <a href='http://www.outercurve.org/'><img src='//static.wixtoolset.org/assets/img/outercurve.png' alt='Outercurve Foundation'></a>
  </div>
  <div>
    <p>Hosting sponsored by <a href='http://www.firegiant.com/'>FireGiant</a>.</p>
    <a href='https://www.firegiant.com/'><img src='//static.wixtoolset.org/assets/img/firegiant.png' alt='FireGiant'></a>
  </div>
</footer>
<script type='text/javascript', src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div id='fb-root'></div>
<script type='text/javascript'>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));</script>
<script type='text/javascript'>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
