mixin navli(title, name, activeName)
  name = (name) ? name : title.toLowerCase()
  activeName = (activeName) ? activeName : (document.under) ? document.under : document.basename
  li(class=(name.toUpperCase()===activeName.toUpperCase() ? "active" : null))
    a(href='/#{name}')= title

.page-header
  h1= document.title
    if document.subtitle
      |  
      small=  document.subtitle
ul.breadcrumb
  li
    a(href='/') Home
    |  
    span.divider /
  if document.under
    li
    a(href='/#{document.under.toLowerCase()}')= document.under
    |  
    span.divider /    
  li.active= document.title
