doctype 5
html(lang='en')
  head
    include wipheader.jade

  body
    include topbar.jade

    .container
      .content
        include page-header-breadcrumb.jade

        .row
          .span10.offset1!= content

      include footer.jade
