---
under: Development
title: WiX Improvement Proposals
subtitle: better known as WIPs
keywords: wix toolset,wix,wip
layout: secondary
sidebarTitle: Other developer topics
sidebarSubtitle: The following topics may be useful when developing the WiX toolset:
sidebarItems:
  - uri: /development/
    text: Development Homepage
  - uri: /development/assignment-agreement/
    text: Assignment Agreement
---

h2 WiX Improvement Proposals
each item in getCollection('wips').toJSON()
  if !item.ignored
    .news-item
      p
        a(href='#{item.url}') WIP:#{item.wip} 
        | - #{item.title}
