---
layout: documentation4
title: WiX Toolset v4 Schema Reference
order: 5
xsds?: query documents where xsd4 equals "schema"
---

<ul>
@foreach (var xsd in @Model.Document.xsds)
{
<li><a href="@xsd.RelativeUrl">@xsd.Title</a></li>
}
</ul>
