<footer id="fh5co-footer">
<div class="container">
<div class="row">
  <div class="col-sm-4 text-center">
    <p>Hosting sponsored by <a href='https://www.firegiant.com/'>FireGiant</a>.</p>
    <a href='https://www.firegiant.com/'><img src='/content/firegiant.png' alt='FireGiant'></a>
  </div>
  <div class="col-sm-4">
    <ul class="fh5co-social-icons">
      <li><a href="https://twitter.com/wixtoolset/"><i class="ti-twitter-alt"></i></a></li>
      <li><a href="https://www.facebook.com/wixtoolset/"><i class="ti-facebook"></i></a></li>
      <li><a href="https://github.com/wixtoolset/"><i class="ti-github"></i></a></li>
    </ul>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-sm-4 text-center">
    <p>Member of the <a href='https://dotnetfoundation.org/'>.NET Foundation</a>.</p>
    <a href='https://dotnetfoundation.org/'><img src='/content/dotnetfoundation.png' alt='.NET Foundation'></a>
  </div>
</div>
</div>
</footer>

<script src="/display/js/jquery-1.10.2.min.js"></script>
<script src="/display/js/jquery.easing.1.3.js"></script>
<script src="/display/js/bootstrap.js"></script>
<script src="/display/js/owl.carousel.min.js"></script>
<script src="/display/js/jquery.magnific-popup.min.js"></script>
<script src="/display/js/hoverIntent.js"></script>
<script src="/display/js/superfish.js"></script>
<script src="/display/js/easyResponsiveTabs.js"></script>
<script src="/display/js/fastclick.js"></script>
<script src="/display/js/main.js"></script>
@Raw(Model.Site.LiveReloadScript)
