<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="app.name" value="tinyBld"/>-->
  </appSettings>

  <connectionStrings>
  </connectionStrings>

  <system.web>
    <customErrors mode="Off" />

    <authentication mode="Forms">
      <forms name=".tinybugs" loginUrl="login/" slidingExpiration="true" timeout="2880" />
    </authentication>
  </system.web>

  <location path="admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="new">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="edit">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="user">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <directoryBrowse enabled="false" />

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/notfound/" responseMode="ExecuteURL" />
    </httpErrors>

    <staticContent>
      <clientCache cacheControlCustom="private" cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
</configuration>
