<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <rule name="Ignore wp hacking" stopProcessing="true">
          <match url="(wp-login|wp-admin|xmlrpc.php)" />
          <action type="AbortRequest" />
        </rule>
        <rule name="Remove www from domain name" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="https://{ToLower:{C:2}/{R:1}}" redirectType="Permanent" />
        </rule>
        <rule name="Remove default document" stopProcessing="true">
          <match url="(.*)default.aspx" />
          <action type="Redirect" redirectType="Permanent" url="https://wixtoolset.org/{ToLower:{R:1}}" />
        </rule>
        <rule name="Remove index document" stopProcessing="true">
          <match url="(.*)index.html" />
          <action type="Redirect" redirectType="Permanent" url="https://wixtoolset.org/{ToLower:{R:1}}" />
        </rule>
        <rule name="Redirect release feeds to underlying files" stopProcessing="true">
          <match url="releases/feed(s)?/v(\d+)\.(\d+)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern=".+\.feed$" negate="true" />
          </conditions>
          <action type="Rewrite" url="releases/feeds/wix{R:2}-{R:3}.feed" />
        </rule>
        <rule name="Convert to lower case" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <conditions>
            <add input="{URL}" pattern="/downloads/.*" negate="true" />
            <add input="{URL}" pattern="/content/data/.*" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://wixtoolset.org/{ToLower:{REQUEST_URI}}" appendQueryString="false" />
        </rule>
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
