doctype 5
html(lang='en')
  head
    include header.jade

  body
    include topbar.jade

    .container
      .content
        .row
          .span14.offset1
            h1= document.title
            .main!= content

      include footer.jade
