footer
  div(style='float:right')
    p Member of the 
      a(href='http://www.outercurve.org/') Outercurve Foundation
      | .
    a(href='http://www.outercurve.org/')
      img(src='/content/outercurve.png',alt='Outercurve Foundation')

  div
    p Hosting sponsored by 
      a(href='http://www.firegiant.com/') FireGiant
      | .
    a(href='http://www.firegiant.com/')
      img(src='/content/firegiant.png',alt='FireGiant')

script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
script(type='text/javascript', src='/content/bootstrap-dropdown.js')
#fb-root
script(type='text/javascript').
  (function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));
script(type='text/javascript').
  !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");
