mixin navli(title, uri, activeUri)
  uri = (uri) ? uri : '/' + title.toLowerCase() + '/'
  activeUri = (activeUri) ? activeUri : (document.under) ? '/' + document.under + '/' : '/' + document.basename + '/'
  li(class=(uri.toUpperCase()===activeUri.toUpperCase() ? "active" : null))
    a(href='#{uri}')= title

.topbar
  .fill
    .container
      a.brand(href='/')
        img(src='/content/logo.png', alt='logo',width='16',height='16')
        |  WiX Toolset
      ul.nav
        +navli('About')
        +navli('News')
        +navli('Bugs', '/issues/')
        +navli('Documentation')
        +navli('Releases')
        +navli('Development')
      form#sform.pull-right(action='/search', method='get', type='search')
        input#q(name='q', placeholder='search this site', size='15', type='text', value='')
