---
title: Documentation
subtitle: for the WiX toolset
layout: herosmall
image: /content/red_smoke_2.jpg
---

<div class="row fh5co-feature-1">
  <div class="col-md-4">
    <h3>Reference manuals</h3>
    <ul>
    <li>
      <a href="/documentation/manual/v3/">WiX Toolset v3.x reference manual</a>
    </li>
    <li>
      WiX Toolset v4.x reference manual (coming soon)
    </li>
    </ul>

    <h3><a href="/about/license">License</a></h3>

    <h3><a href="/about/governance">Governance</a></h3>

    <h3>Development</h3>
    <ul>
    <li>
      <a href="/development">Logistics and coding</a>
    </li>
    <li>
      <a href="/development/assignment-agreement/">Contribution license agreement</a>
    </li>
    <li>
      <a href="/development/building-wix/">Building WiX</a>
    </li>
    <li>
      <a href="/development/code-style/">Code style</a>
    </li>
    <li>
      <a href="/development/wips/">WiX Improvement Proposals</a>
    </li>
    </ul>
  </div>

  <div class="col-md-4">
    <h3>Mailing lists</h3>
    <p>The mailing lists are a great place to ask questions, make suggestions, or discuss the WiX
    toolset with other users and the WiX developers. To help prevent spam on the WiX mailing
    lists, you must now subscribe to the lists before you can send e-mail to them. To subscribe
    click one of the <em>Join</em> links below and send the email or go to <em>Preferences</em> web page.</p>

    <h4>WiX-users</h4>
    <p>Questions and discussion about the WiX toolset. This is the most active list and a great place to ask your questions or lurk if you just want to learn.</p>
    <p><a href="mailto:wix-users-request@lists.wixtoolset.org?subject=subscribe">Join</a> | <a href="mailto:wix-users-unsubscribe@lists.wixtoolset.org?subject=unsubscribe">Unsubscribe</a> | <a href="http://lists.wixtoolset.org/listinfo.cgi/wix-users-wixtoolset.org">Preferences</a> | <a href="http://lists.wixtoolset.org/pipermail/wix-users-wixtoolset.org/">Archive</a></p>

    <h4>WiX-devs</h4>
    <p>Questions and discussion about developing the WiX toolset.</p>
    <p><a href="mailto:wix-devs-subscribe@lists.wixtoolset.org?subject=subscribe">Join</a> | <a href="mailto:wix-devs-unsubscribe@lists.wixtoolset.org?subject=unsubscribe">Unsubscribe</a> | <a href="http://lists.wixtoolset.org/listinfo.cgi/wix-devs-wixtoolset.org">Preferences</a> | <a href="http://lists.wixtoolset.org/pipermail/wix-devs-wixtoolset.org/">Archive</a></p>
  </div>

  <div class="col-md-4">
    <h3>External resources</h3>
    <p>The following external resources are useful but not managed by the WiX community:</p>
    <ul>
    <li>
      <a href="/documentation/tutorial/">WiX v3.x Tutorial</a>
    </li>
    <li>
      <a href="/documentation/book/">WiX 3.6: A Developer's Guide to Windows Installer XML by Nick Ramirez</a>
    </li>
    <li>
      <a href="/documentation/book2/">WiX Cookbook by Nick Ramirez</a>
    </li>
    <li>
      <a href="/documentation/stackoverflow/">Stack Overflow questions tagged 'wix'</a>
    </li>
    <li>
      <a href="https://support.firegiant.com/">FireGiant WiX Knowledge Base</a>
    </li>
    </ul>
  </div>
</div>
