<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <appSettings>
    <add key="redirects" value="~/App_Data/redirects.json" />
    <add key="redirects.notfound" value="/notfound/" />
    <add key="releases" value="~/App_Data/releases.json" />
  </appSettings>

  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="dl" xsi:type="AsyncWrapper" overflowAction="Block">
        <target xsi:type="File" fileName="${basedir}/App_Data/logs/dl/dl${shortdate}.log" header="date&#x9;time&#x9;c-ip&#x9;cs-username&#x9;cs-method&#x9;cs-host&#x9;cs-uri-stem&#x9;cs-uri-query&#x9;sc-status&#x9;cs(User-Agent)&#x9;cs(Referrer)&#x9;x(UserName)&#x9;x(UserEmail)&#x9;x(UserVisits)" layout="${message}" />
      </target>
      <target name="telemetry" xsi:type="AsyncWrapper" overflowAction="Block">
        <target xsi:type="File" fileName="${basedir}/App_Data/logs/telemetry/tel${shortdate}.log" header="date&#x9;time&#x9;c-ip&#x9;cs-username&#x9;cs-method&#x9;cs-host&#x9;cs-uri-stem&#x9;cs-uri-query&#x9;sc-status&#x9;cs(User-Agent)&#x9;cs(Referrer)&#x9;x(UserName)&#x9;x(UserEmail)&#x9;x(UserVisits)" layout="${message}" />
      </target>
      <target name="notfound" xsi:type="AsyncWrapper" overflowAction="Block">
        <target xsi:type="File" fileName="${basedir}/App_Data/logs/404s/notfound${shortdate}.log" layout="${longdate} ${message}" />
      </target>
    </targets>

    <rules>
      <logger name="dl" minlevel="Debug" writeTo="dl" />
      <logger name="telemetry" minlevel="Debug" writeTo="telemetry" />
      <logger name="notfound" minlevel="Debug" writeTo="notfound" />
    </rules>
  </nlog>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <!--<customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/notfound/index.html" />
    </customErrors>-->
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="MunqRequestLifetime" type="Munq.LifetimeManagers.RequestLifetimeModule" preCondition="managedHandler" />
    </modules>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/404" responseMode="ExecuteURL" />
    </httpErrors>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <staticContent>
      <mimeMap fileExtension=".feed" mimeType="application/atom+xml" />
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="1:00:00" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="Remove www from domain name" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="http://{ToLower:{C:2}/{R:1}}" redirectType="Permanent" />
        </rule>
        <rule name="Remove default document" stopProcessing="true">
          <match url="(.*)default.aspx" />
          <action type="Redirect" redirectType="Permanent" url="{ToLower:{R:1}}" />
        </rule>
        <rule name="Remove index document" stopProcessing="true">
          <match url="(.*)index.html" />
          <action type="Redirect" redirectType="Permanent" url="{ToLower:{R:1}}" />
        </rule>
        <rule name="Redirect release feeds to underlying files" stopProcessing="true">
          <match url="releases/feed(s)?/v(\d+)\.(\d+)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern=".+\.feed$" negate="true" />
          </conditions>
          <action type="Rewrite" url="releases/feeds/wix{R:2}-{R:3}.feed" />
        </rule>
        <rule name="Redirect releases to downloads" stopProcessing="true">
          <match url="releases/(.+)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern=".+(\.exe|\.cab|\.msi|\.zip)$|(stable|rc|rc2|rc3|beta|alpha)$" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="downloads/{ToLower:{R:1}}" />
        </rule>
        <rule name="Redirect issues search to GitHub" stopProcessing="true">
          <match url="issues/search/(.+)" />
          <action type="Redirect" redirectType="Permanent" url="https://github.com/wixtoolset/issues/issues" />
        </rule>
        <rule name="Redirect issues to GitHub" stopProcessing="true">
          <match url="issues/(.+)" />
          <action type="Redirect" redirectType="Permanent" url="https://github.com/wixtoolset/issues/issues/{ToLower:{R:1}}" />
        </rule>
        <rule name="Redirect issues root to GitHub" stopProcessing="true">
          <match url="issues" />
          <action type="Redirect" redirectType="Permanent" url="https://github.com/wixtoolset/issues/issues" />
        </rule>
        <rule name="Convert to lower case" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <conditions>
            <add input="{URL}" pattern="/downloads/.*" negate="true" />
            <add input="{URL}" pattern="/content/data/.*" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{ToLower:{REQUEST_URI}}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
