<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="redirects" value="~/App_Data/redirects.json" />
    <add key="redirects.notfound" value="/notfound/" />
  </appSettings>

  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="dl" xsi:type="AsyncWrapper" overflowAction="Block">
        <target xsi:type="File"
                fileName="${basedir}/App_Data/logs/dl/dl${shortdate}.log"
                header="date&#009;time&#009;c-ip&#009;cs-username&#009;cs-method&#009;cs-host&#009;cs-uri-stem&#009;cs-uri-query&#009;sc-status&#009;cs(User-Agent)&#009;cs(Referrer)&#009;x(UserName)&#009;x(UserEmail)&#009;x(UserVisits)"
                layout="${message}" />
      </target>
      <target name="telemetry" xsi:type="AsyncWrapper" overflowAction="Block">
        <target xsi:type="File"
                fileName="${basedir}/App_Data/logs/telemetry/tel${shortdate}.log"
                header="date&#009;time&#009;c-ip&#009;cs-username&#009;cs-method&#009;cs-host&#009;cs-uri-stem&#009;cs-uri-query&#009;sc-status&#009;cs(User-Agent)&#009;cs(Referrer)&#009;x(UserName)&#009;x(UserEmail)&#009;x(UserVisits)"
                layout="${message}" />
      </target>
      <target name="notfound" xsi:type="AsyncWrapper" overflowAction="Block">
        <target xsi:type="File"
                fileName="${basedir}/App_Data/logs/404s/notfound${shortdate}.log"
                layout="${longdate} ${message}" />
      </target>
    </targets>

    <rules>
      <logger name="dl" minlevel="Debug" writeTo="dl" />
      <logger name="telemetry" minlevel="Debug" writeTo="telemetry" />
      <logger name="notfound" minlevel="Debug" writeTo="notfound" />
    </rules>
  </nlog>

  <!--<system.web>
    <customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/notfound/index.html" />
    </customErrors>
  </system.web>-->

  <system.webServer>
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="Custom">
     <remove statusCode="404" />
     <error statusCode="404" path="/notfound" responseMode="ExecuteURL" />
    </httpErrors>

    <handlers>
      <add name="DownloadsHandler" path="/downloads/*" verb="*" type="WixToolset.Web.Api.DownloadsHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="NotFoundHandler" path="/notfound" verb="*" type="WixToolset.Web.Api.NotFoundHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="RedirectBugs" path="/bugs" verb="*" type="WixToolset.Web.Api.RedirectHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="RedirectTutorial" path="/documentation/tutorial" verb="*" type="WixToolset.Web.Api.RedirectHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="RedirectBook" path="/documentation/book" verb="*" type="WixToolset.Web.Api.RedirectHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="RedirectStackoverflow" path="/documentation/stackoverflow" verb="*" type="WixToolset.Web.Api.RedirectHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="RedirectImgs" path="/img/*" verb="*" type="WixToolset.Web.Api.RedirectHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="AllPurposeRedirect" path="/redirect/*" verb="*" type="WixToolset.Web.Api.RedirectHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="SearchRedirect" path="/search" verb="*" type="WixToolset.Web.Api.SearchRedirectHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="TelemetryHandler" path="/telemetry/*" verb="*" type="WixToolset.Web.Api.TelemetryHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <staticContent>
      <mimeMap fileExtension=".feed" mimeType="application/atom+xml" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="Remove www from domain name" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="http://{ToLower:{C:2}/{R:1}}" redirectType="Permanent" />
        </rule>
        <rule name="Remove default document" stopProcessing="true">
          <match url="(.*)default.aspx" />
          <action type="Redirect" redirectType="Permanent" url="{ToLower:{R:1}}" />
        </rule>
        <rule name="Remove index document" stopProcessing="true">
          <match url="(.*)index.html" />
          <action type="Redirect" redirectType="Permanent" url="{ToLower:{R:1}}" />
        </rule>
        <rule name="Redirect release feeds to underlying files" stopProcessing="true">
          <match url="releases/feed(s)?/v(\d)\.(\d)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern=".+\.feed$" negate="true" />
          </conditions>
          <action type="Rewrite" url="releases/feeds/wix{R:2}-{R:3}.feed" />
        </rule>
        <rule name="Redirect releases to downloads" stopProcessing="true">
          <match url="releases/(.+)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern=".+(\.exe|\.cab|\.msi|\.zip)$|(stable|rc|beta|alpha)$" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="downloads/{ToLower:{R:1}}" />
        </rule>
        <rule name="Convert to lower case" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <conditions>
            <add input="{URL}" pattern="/downloads/.*" negate="true" />
            <add input="{URL}" pattern="/content/data/.*" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{ToLower:{REQUEST_URI}}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
